<body class="splash">
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="navbar-logo" class="navbar-brand" href="#"><img src="../../assets/images/NMN.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul id="navbar-ul" class="navbar-nav">
                <li id="navbar-li" class="nav-item active">
                    <a id="navbar-a" class="nav-link" href="#">
                        <p id="navbar-item">Profile</p>  <!-- <span class="sr-only">(current)</span> --> 
                    </a>
                </li>
                <li id="navbar-li" class="nav-item">
                    <a id="navbar-a" class="nav-link" href="#">
                        <p id="navbar-item">Dashboard</p>
                    </a>
                </li>
                <li id="navbar-li" class="nav-item">
                    <a id="navbar-a" class="nav-link" href="#">
                        <p id="navbar-item">Logout</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </nav>

    {{#each matches as |user|}}
    <div class="container">
        <div class="card mx-auto mb-3 mt-3 cardBorder" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/jinx-profile-pic.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{chatroom.last_message}}</p>
            <a href="#" class="btn btn-primary">Message</a>
            </div>
        </div>
    </div>
    {{/each}}


    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>