/*-------------- Landing Page--------------- */

/* #main-container {
    background-color: aquamarine;
} */

    #top {
        /* border: 5px solid rgb(255, 0, 0); */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        /* #logo-container {
            border: 1px solid black;
            padding: 2rem;
        } */

            #logo {
                /* border: 1px solid black; */
                margin-top: -1rem;
                /* height: 12rem; */
                width: 35%;
                min-width: 12rem;
            }

        #load-player-container {
            /* border: 1px solid black; */
            padding: 2rem;
            text-align: end;
        }

            #load-player-btn {
                font-size: 250%;
                border-radius: 1.5rem;
                box-shadow: 2px 2px 4px rgb(43, 42, 42);
                background-color: rgb(255, 236, 24);
                width: 60%;
                min-width: 12rem;
            }

                #load-player {
                    width: 80%;
                }

                #login {
                    font-size: 37%;
                }

    #middle {
        /* border: 5px solid rgb(255, 0, 0); */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* justify-content: center; */
        height: 80vh;
    }

        #space {
            /* border: 1px solid black; */
            height: 12rem;
        }

        #level-up {
            /* border: 1px solid black; */
            padding: 2rem;
            text-align: center;
            /* max-height: 10rem; */
            height: 12rem;
            /* width: fit-content; */
            font-size: 500%;
            font-family: Silkscreen, Futura, Noto, Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 1rem;
            flex-grow: 0;
        }

            #level-up-your-game {
                width:50%;
                min-width: 15rem;
            }

        #new-player-container {
            /* border: 1px solid black; */
            padding: 2rem;
            text-align: center;
            max-height: 5rem;
            height: 5rem;
            width: fit-content;
            margin-top: 1rem;
        }

            #new-player-btn {
                /* border: 1px solid black; */
                font-size: 250%;
                border-radius: 1.5rem;
                box-shadow: 2px 2px 4px rgb(43, 42, 42);
                background-color: rgb(255, 236, 24);
                margin-top: 1.5rem;
                margin-right: 1.5rem;
                width: 50%;
                min-width: 12rem;
            }

                #new-player {
                    width: 80%;
                }

                #sign-up {
                    font-size: 37%;
                }
    /*hidden containers*/
    #login-prompt {
        /* border: 1px solid black; */
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        left: 0;
    }
        #login-box {
            background-color: white;
            border: 1px solid black;
            height: 30%;
            width: 30%;
            min-width: 20rem;
            min-height: 18rem;
        }
            #login-pixel {
                width: 50%;
            }

    #sign-up-prompt {
        /* border: 1px solid black; */
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        left: 0;
    }
        #sign-up-box {
            background-color: white;
            border: 1px solid black;
            height: 40%;
            width: 30%;
            min-width: 20rem;
            min-height: 25rem;
        }
            #sign-up-pixel {
                width: 50%;
            }


/*----------------GENERIC ATTRIBUTES-------------*/
.hide {
    display: none;
}

.display {
    display: block;
}

#input {
    width: 70%;
}

/* --------------------HOMEPAGE-------------------------------- */

.caroHt{
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.arrowColor{
    background-color: black;
}

.top-space{
    margin-top: 10px;
}

.yes-btn{
    background-color: green;
}
.no-btn{
    background-color: red;
}

        /*----------------MEDIA QUERY-------------*/
        /* TODO: ADD MEDIA QUERY FOR HEIGHT */
@media (max-width: 8000px) { 
    #new-player-btn {
        margin-top: 30rem;
    }
}

@media (max-width: 2700px) { 
    #new-player-btn {
        margin-top: 15rem;
    }
}

@media (max-width: 1950px) { 
    #new-player-btn {
        margin-top: 8rem;
    }
}

@media (max-width: 1650px) { 
    #new-player-btn {
        margin-top: 4rem;
    }
}

@media (max-width: 930px) { 
    #new-player-btn {
        margin-top: -0.1rem;
    }

    #space {
        height: 10rem;
    }
}

@media (max-width: 630px) { 
    #new-player-btn {
        margin-top: -3rem;
    }

    #space {
        height: 6rem;
    }

    #login {
        font-size: 30%;
    }

    #sign-up {
        font-size: 30%;
    }
}

@media (max-width: 550px) { 
    #logo {
        min-width: 10rem;
    }

    #new-player-btn {
        margin-top: -10rem;
    }

    #space {
        height: 3rem;
    }

    #login {
        font-size: 23%;
    }

    #sign-up {
        font-size: 23%;
    }
}

@media (max-width: 379px) { 
    #new-player-btn {
        margin-top: -17rem;
    }

    #space {
        height: 0.1rem;
    }

    #login {
        font-size: 18%;
    }

    #sign-up {
        font-size: 18%;
    }
}


/* --------------HEADER---------------- */
    #navbar-logo {
        margin-right: 45%;
    }
                #navbar-item {
                    width: 75%;
                    min-width: 4.2rem;
                    min-height: 1rem;
                    max-width: 10;
                    max-height: 2.5rem;
                }

@media (max-width: 980px) {
    #navbar-logo {
        margin-right: 0;
    }
}


/* --------------------PROFILE ----------------*/
#profile-container-main {
    /* border: 1px solid black; */
    height: 80vh;
}
    #profile-container-child {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        #pfp-container {
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
        }
            #pfp-img-container {
                position: relative;
                border: 1px solid black;
                border-radius: 50%;
                height: 20rem;
                width: 20rem;
                overflow: hidden;
                
            }
                #pfp-img {
                    position: absolute;
                    width: 200%;
                    height: auto;
                    top: -1.2rem;
                    left: -8.5rem;
                }

        #bio-container {
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #bio-textbox {
                border: 3px solid black;
                height: 20rem;
                margin-top: 2rem;
                width: 60%;
                overflow: scroll;
                padding: 1rem;
            }
                #bio {
                    width: 9%;
                    margin-bottom: 1.5rem;
                }

        #footer-container {
            /* border: 1px solid black; */
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
            #footer-btn-container {
                /* border: 1px solid black; */
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
                #preferences-btn {
                    /* border: 1px solid black; */
                    background-color: rgb(255, 236, 24);
                    border-radius: 1.5rem;
                    box-shadow: 2px 2px 4px rgb(43, 42, 42);
                }
                    #preferences {
                        /* border: 1px solid black; */
                        width: 50%;
                    }
                #images-btn {
                    /* border: 1px solid black; */
                    background-color: rgb(255, 236, 24);
                    border-radius: 1.5rem;
                    box-shadow: 2px 2px 4px rgb(43, 42, 42);
                }
                    #images {
                        /* border: 1px solid black; */
                        width: 50%;
                    }
                #edit-info-btn {
                    /* border: 1px solid black; */
                    background-color: rgb(255, 236, 24);
                    border-radius: 1.5rem;
                    box-shadow: 2px 2px 4px rgb(43, 42, 42);
                }
                    #edit-info {
                        /* border: 1px solid black; */
                        width: 50%;
                    }
    /* hidden containers */
    #upload-img-container {
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        left: 0;
    }
        #upload-img-box {
            background-color: white;
            border: 1px solid black;
            height: 30%;
            width: 30%;
            min-width: 20rem;
            min-height: 18rem;
        }
    #edit-info-container {
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        left: 0;
    }
        #edit-info-box {
            background-color: white;
            border: 1px solid black;
            height: 30%;
            width: 30%;
            min-width: 20rem;
            min-height: 18rem;
        }

/* ------------------DASH-------------------- */

.cardBorder{
    border: 3px solid black;
}